@import "tailwindcss";

@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  /* Colors */
  --color-neutral-900: hsl(0, 0%, 7%);
  --color-neutral-800: hsl(0, 0%, 15%);
  --color-neutral-500: hsl(240, 3%, 46%);
  --color-neutral-400: hsl(240, 1%, 59%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-blue-600: hsl(214, 100%, 55%);
  --color-blue-400: hsl(210, 100%, 65%);

  --color-red-500: hsl(354, 63%, 57%);
  --color-green-500: hsl(140, 63%, 57%);
  --color-yellow-400: hsl(49, 85%, 70%);

  /* Fonts Family */
  --font-sora: "Sora", sans-serif;

  /* Font Weights */
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* Font Sizes */
  --text-40: 2.5rem; 
  --text-32: 2rem; 
  --text-24: 1.5rem; 
  --text-20: 1.25rem; 
  --text-18: 1.125rem; 
  --text-16: 1rem; 
  --text-12: 0.75rem;

  /* Line Heights */
  --leading-136: 1.36;
  --leading-120: 1.2;
  --leading-100: 1;

  /* Letter Spacings */
  --tracking-04: 0.4px;
  --tracking-032: 0.32px;
  --tracking-048n: -0.48px;
  --tracking-06n: -0.6px;
  --tracking-03n: -0.3px;
  --tracking-0: 0px;
}


  /* Text Preset 1 */
  @utility text-preset-1 {
    font-family: var(--font-sora);
    font-size: var(--text-40);
    line-height: var(--leading-136);
    letter-spacing: var(--tracking-04);
    font-weight: var(--font-bold);
  }

  @utility text-preset-1-regular {
    font-family: var(--font-sora);
    font-size: var(--text-40);
    line-height: var(--leading-136);
    letter-spacing: var(--tracking-04);
    font-weight: var(--font-regular);
  }

  @utility text-preset-1-mobile {
    font-family: var(--font-sora);
    font-size: var(--text-24);
    line-height: var(--leading-120);
    letter-spacing: var(--tracking-032);
    font-weight: var(--font-bold);
  }

  @utility text-preset-1-mobile-regular {
    font-family: var(--font-sora);
    font-size: var(--text-32);
    line-height: var(--leading-136);
    letter-spacing: var(--tracking-04);
    font-weight: var(--font-regular);
  }

  /* Text Preset 2 */
  @utility text-preset-2 {
    font-family: var(--font-sora);
    font-size: var(--text-24);
    line-height: var(--leading-100);
    letter-spacing: var(--tracking-0);
    font-weight: var(--font-bold);
  }

  /* Text Preset 3 */
  @utility text-preset-3 {
    font-family: var(--font-sora);
    font-size: var(--text-20);
    line-height: var(--leading-120);
    letter-spacing: var(--tracking-06n);
    font-weight: var(--font-regular);
  }

  @utility text-preset-3-mobile {
    font-family: var(--font-sora);
    font-size: var(--text-16);
    line-height: var(--leading-120);
    font-weight: var(--font-regular);
    letter-spacing: var(--tracking-048n);
  }

  @utility text-preset-3-semibold {
    font-family: var(--font-sora);
    font-size: var(--text-20);
    line-height: var(--leading-120);
    font-weight: var(--font-semibold);
    letter-spacing: var(--tracking-03n);
  }

  /* Text Preset 4 */
  @utility text-preset-4 {
    font-family: var(--font-sora);
    font-size: var(--text-18);
    line-height: var(--leading-120);
    letter-spacing: var(--tracking-06n);
    font-weight: var(--font-regular);
  }

  /* Text Preset 5 */
  @utility text-preset-5 {
    font-family: var(--font-sora);
    font-size: var(--text-16);
    line-height: var(--leading-120);
    letter-spacing: var(--tracking-048n);
    font-weight: var(--font-regular);
  }

  /* Text Preset 6 */
  @utility text-preset-6 {
    font-family: var(--font-sora);
    font-size: var(--text-12);
    line-height: var(--leading-120);
    letter-spacing: var(--tracking-0);
    font-weight: var(--font-regular);
  }



body {
  font-family: var(--font-sora);
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-0);
}